        <!-- HEADER DESKTOP-->
<header class="header-desktop3 d-none d-lg-block">
    <div class="section__content section__content--p35">
        <div class="header3-wrap">
            <div class="header__logo">
                <a href="#">
                    <p class="text-white h2">Blog</p>
                </a>
            </div>
            <div class="header__navbar">
                <ul class="list-unstyled">
                    <li class="has-sub">
                        <a href="/admin/index">
                            <i class="fas fa-tachometer-alt"></i>Dashboard
                            <span class="bot-line"></span>
                        </a>

                    </li>
                    <li>
                        <a href="/admin/blog">
                            <i class="fas fa-book"></i>
                            <span class="bot-line"></span>Blog
                        </a>
                    </li>
                    <li>
                        <a href="/admin/category">
                            <i class="fas fa-list"></i>
                            <span class="bot-line"></span>Kategori
                        </a>
                    </li>
                    <li>
                        <a href="/admin/comment">
                            <i class="fas fa-comment"></i>
                            <span class="bot-line"></span>Yorumlar
                        </a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a href="/admin/roles">
                                <i class="fas fa-user-cog"></i>
                                <span class="bot-line"></span>Rol
                            </a>
                        </li>
                        <li>
                            <a href="/admin/employe">
                                <i class="fas fa-user-cog"></i>
                                <span class="bot-line"></span>Çalışanlar
                            </a>
                        </li>
                    }


                </ul>
            </div>
        </div>
    </div>
</header>
<!-- END HEADER DESKTOP-->
<!-- HEADER MOBILE-->
<header class="header-mobile header-mobile-2 d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" href="#">
                    <p class="text-white h2">Blog</p>
                </a>
                <button class="hamburger hamburger--slider" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li class="has-sub">
                    <a href="/admin/index">
                        <i class="fas fa-tachometer-alt"></i>Dashboard
                        <span class="bot-line"></span>
                    </a>

                </li>
                <li>
                    <a href="/admin/blog">
                        <i class="fas fa-book"></i>
                        <span class="bot-line"></span>Blog
                    </a>
                </li>
                <li>
                    <a href="/admin/blogger">
                        <i class="fas fa-trophy"></i>
                        <span class="bot-line"></span>Blogger
                    </a>
                </li>
                <li>
                    <a href="/admin/category">
                        <i class="fas fa-list"></i>
                        <span class="bot-line"></span>Kategori
                    </a>
                </li>
                <li>
                    <a href="/admin/comment">
                        <i class="fas fa-comment"></i>
                        <span class="bot-line"></span>Yorumlar
                    </a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <a href="/admin/roles">
                            <i class="fas fa-user-cog"></i>
                            <span class="bot-line"></span>Rol
                        </a>
                    </li>
                    <li>
                        <a href="/admin/employe">
                            <i class="fas fa-user-cog"></i>
                            <span class="bot-line"></span>Çalışanlar
                        </a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>