
@{
    Layout = "_AdminLayout";
    ViewData["pageName"] = "Dashboard";
}


<!-- STATISTIC-->
<section class="statistic statistic2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--green">
                    <h2 class="number">8</h2>
                    <span class="desc">aktif Ziyaretçi</span>
                    <div class="icon">
                        <i class="zmdi zmdi-account-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 m-auto">
                <div class="statistic__item statistic__item--orange">
                    <h2 class="number">120</h2>
                    <span class="desc">yeni yorum</span>
                    <div class="icon">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--blue">
                    <h2 class="number">80</h2>
                    <span class="desc">yeni yazı</span>
                    <div class="icon">
                        <i class="zmdi zmdi-calendar-note"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- END STATISTIC-->
<!-- STATISTIC CHART-->
<section class="statistic-chart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">statistics</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="au-card m-b-30">
                    <div class="au-card-inner">
                        <h3 class="title-2 m-b-40">Aylık Ziyaretçi</h3>
                        <canvas id="visiter-monthly"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <!-- TOP CAMPAIGN-->
                <div class="top-campaign">
                    <h3 class="title-3 m-b-30">En aktif ülkerler</h3>
                    <div class="table-responsive">
                        <table class="table table-top-campaign">
                            <tbody>
                                <tr>
                                    <td>1. Australia</td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td>2. United Kingdom</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>3. Turkey</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>4. Germany</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>5. France</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END TOP CAMPAIGN-->
            </div>

        </div>
    </div>
</section>
<!-- END STATISTIC CHART-->